KYIV_ESTATE_HOME=/opt/kyiv-estate-block-1
GOOGLE_CREDENTIALS_FILE=/etc/kyiv-estate/google-service-account.json
HOUSES_ACTIVE_SHEET_ID=
CLEANING_ARCHIVE_SHEET_ID=
UPLOAD_PHOTOS=false
PG_HOST=127.0.0.1
PG_PORT=5432
PG_DBNAME=real_estate
PG_USER=kyivestate
PG_PASSWORD=
